body {
  /*padding-top: 50px;*/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.hidden {
  display: none;
}

#map{
	height: 400px;
	width: 100%; 
}
.wrap-content{
	height: 400px;
	width: 100%;
}
